<!DOCTYPE html>
<html lang="en" color-mode="user">
<head>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3B70FNV515"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-3B70FNV515');
    </script>

    <link rel="icon" href="https://avatars.githubusercontent.com/u/59586759?v=4">
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">

    <meta charset="utf-8">
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ pageTitle }} | Trent Wiles</title>
</head>
<header>
    <nav>
        <a href="/"><img alt="Logo" src="https://avatars.githubusercontent.com/u/59586759?v=4" height="70"></a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/projects/">Projects</a></li>
            <li><a href="/travel/">Travel</a></li>
            <li><a href="/updates/">Updates</a></li>

            <li><a href="/contact/">Contact</a></li>
        </ul>
    </nav>
    <h1>{{ pageTitle }}</h1>
    <p>{{ description }}</p>
</header>
<script>
// formats the build date (which is a global var) into a formatted, time-zone respecting one
function getFormattedDate(buildTime) {
  const now = new Date(buildTime);

  // +1 because 0 = january, 1 = february, etc.
  const month = now.getMonth() + 1;
  const day = now.getDate();
  const year = now.getFullYear();

  let hours = now.getHours();
  const minutes = now.getMinutes();
  const isPM = hours >= 12;

  // i hate miltiary time
  hours = hours % 12 || 12;

  return `${month.toString().padStart(2, '0')}/${day.toString().padStart(2, '0')}/${year} ${hours}:${minutes.toString().padStart(2, '0')}${isPM ? 'PM' : 'AM'}`;
}



window.onload = function() {
    const og = document.getElementById("footerText").innerHTML

    document.getElementById("footerText").innerHTML = og + getFormattedDate({{ buildTimestamp }})

    const atag = document.getElementById("commitHash")
    const cHash = atag.innerHTML

    atag.addEventListener("mouseover", () => {
        atag.innerHTML = `"{{ commitName | escape }}"`
    })

    atag.addEventListener("mouseout", () => {
        atag.innerHTML = cHash
    })
}
</script>